.card {
  min-width: 200px;
  min-height: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 8px 10px rgba(2, 2, 2, 0.13);
  transition: all 300ms ease-in-out;
  margin: 5px;
}

.card:hover {
  box-shadow: 0 5px 8px 3px rgba(2, 2, 2, 0.13);
}
