footer {
    margin-top: 100px;
    background-color: #239400c7;
    min-height: 200px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 0;
    bottom: -10;
    width: 100%;
    color: white;
    padding: 50px;
    /* margin: 0; */
    box-sizing: border-box;
    z-index: 0;
}

.content {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 80%;
    align-items: center;
}

.box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}